.social{
    margin-right: auto;
 }
 
 
 .footer-internet{
     display: blok;
 }
 
 .footer-internet-title{
     display: block;    
     margin-bottom: 20px;    
     font-style: normal;
     font-weight: 700;
     font-size: 14px;
     line-height: 1.1428;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: var(--primary--white-color);
    
 }
 
 .footer-internet-link{ 
     display: flex;
    
 }
 
 /* міняєм ul  team - list na social-list---*/
 .social-list{ 
     display: flex;
     justify-content: center;
     gap: 10px;
 }
 
 /* міняєм li  team - item  na social-item---*/
 
 .social-item{
     width: 44px;
     height: 44px;
 }
 
 /* міняєм a   team - linl  na social-link---*/
 
 .social-link{
     width: 100%;
     height: 100%;
     background-color: rgba(255, 255, 255, 0.1);
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: background-color var(--tran);
 }
 
 
 .social-link:hover,
 .social-link:focus{
     background-color: var(--accent-color);
 }
 
 .social-link:hover .teams-icon,
 .social-link:focus .teams-icon{
     fill:var(--primary--white-color);
 }
 
 .social-icon{
     fill: var(--primary--white-color);
 }
 .social-icon:hover,
 .social-icon:focus{
     fill:var(--primary--white-color);
 }